<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>System Configuration</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 form-group"></div>

        <div class="col-md-3 form-group">
            <span style="font-weight: bolder">Username:</span>
        </div>
        <div class="col-md-4 form-group" style="background-color: white;">
            <span style="background-color: white; width: 100%">@ViewBag.Username;</span>
        </div>
        <div class="col-md-3 form-group"></div>
    </div>
    <div class="row">
        <div class="col-md-2 form-group"></div>
        <div class="col-md-3 form-group">
            <span style="font-weight: bolder">Web Service Api:</span>
        </div>
        <div class="col-md-4 form-group" style="background-color: white;">
            <span style="background-color: white; width: 100%">@ViewBag.WebServiceApi;</span>
        </div>
        <div class="col-md-3 form-group"></div>
    </div>
    <div class="row">
        <div class="col-md-2 form-group"></div>
        <div class="col-md-3 form-group">
            <span style="font-weight: bolder">SpamAssassin Working Folder:</span>
        </div>
        <div class="col-md-4 form-group" style="background-color: white;">
            <span style="background-color: white; width: 100%">@ViewBag.SpamAssassin_WorkingFolder;</span>
        </div>
        <div class="col-md-3 form-group"></div>
    </div>
    <div class="row">
        <div class="col-md-2 form-group"></div>
        <div class="col-md-3 form-group">
            <span style="font-weight: bolder">Max Message Length To Check:</span>
        </div>
        <div class="col-md-4 form-group" style="background-color: white;">
            <span style="background-color: white; width: 100%">@ViewBag.MaxMessageBodyLengthK;</span>
        </div>
        <div class="col-md-3 form-group"></div>
    </div>
    <div class="row">
        <div class="col-md-2 form-group"></div>
        <div class="col-md-3 form-group">
            <span style="font-weight: bolder">Spam Flag Threshold:</span>
        </div>
        <div class="col-md-4 form-group" style="background-color: white;">
            <span style="background-color: white; width: 100%">@ViewBag.SpamFlag;</span>
        </div>
        <div class="col-md-3 form-group"></div>
    </div>
    <div class="row">
        <div class="col-md-2 form-group"></div>
        <div class="col-md-3 form-group">
            <span style="font-weight: bolder">Spam Warn Threshold:</span>
        </div>
        <div class="col-md-4 form-group" style="background-color: white;">
            <span style="background-color: white; width: 100%">@ViewBag.SpamDetect;</span>
        </div>
        <div class="col-md-3 form-group"></div>
    </div>

    <div class="row">
        <div class="col-md-2 form-group"></div>
        <div class="col-md-3 form-group">
            <span style="font-weight: bolder">Web Server Protocol:</span>
        </div>
        <div class="col-md-4 form-group" style="background-color: white;">
            <span style="background-color: white; width: 100%">@ViewBag.WebServerProtocol;</span>
        </div>
        <div class="col-md-3 form-group"></div>
    </div>
    <div class="row">
        <div class="col-md-2 form-group"></div>
        <div class="col-md-3 form-group">
            <span style="font-weight: bolder">Web Server Host Name:</span>
        </div>
        <div class="col-md-4 form-group" style="background-color: white;">
            <span style="background-color: white; width: 100%">@ViewBag.WebServerHostName;</span>
        </div>
        <div class="col-md-3 form-group"></div>
    </div>

    <div class="row">
        <div class="col-md-2 form-group"></div>
        <div class="col-md-3 form-group">
            <span style="font-weight: bolder">Web Server Port:</span>
        </div>
        <div class="col-md-4 form-group" style="background-color: white;">
            <span>@ViewBag.WebServerPort;</span>
        </div>
        <div class="col-md-3 form-group"></div>
    </div>


</div>