<div class="nano">
    <ul class="list-group" style="border: none; padding: 0;">
        <li class="list-group-item" style="border-style: none; padding: 0;">Black Lists</li>
        <li class="list-group-item" style="border-style: none; cursor: pointer; margin-left: 10px; padding: 0;" id="BLDomain">Domain Names</li>
        <li class="list-group-item" style="border-style: none; cursor: pointer; margin-left: 10px; padding: 0;" id="BLEmail">Email Addresses</li>
        <li class="list-group-item" style="border-style: none; padding: 0;">White Lists</li>
        <li class="list-group-item" style="border-style: none; cursor: pointer; margin-left: 10px; padding: 0;" id="WLDomain">Domain Names</li>
        <li class="list-group-item" style="border-style: none; cursor: pointer; margin-left: 10px; padding: 0;" id="WLEmail">Email Addresses</li>
        <li class="list-group-item" style="border-style: none; cursor: pointer; padding: 0;" id="Config">Configuration</li>
    </ul>
</div>